<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title><%=adi%></title>
</head>
<body>
<h1><%=baslik%></h1>
<p>Merhaba benim adım <%=adi%></p>
<p>Soyadım <strong><%=soyadi%></strong></p>
<ul>
    <% for (let sira = 1; sira <= 10; ++sira ) { %>
    <li><%=sira%> Merhaba</li>
    <% } %>
    </ul>
</body>
</html>